<!DOCTYPE html>
<html>
<head>
  <title>RubyBelt</title>

    <!-- Required CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One|Metamorphous|Montserrat|Open+Sans|Poiret+One">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'main.js', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="">
    <div id="body">
    <!--
    [ Navbar - Login and Registration Component ]
    -->
    <% unless current_user %>
    <nav class="dark">
      <div class="nav-wrapper">
        <a href="/"><h4 class="_logo">DOJO<span>PLAYLIST</span></h2></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if session["form"] == "login"%>
          <li><a href="/main/sw">Register</a></li><% else %>
          <li><a href="/main/sw">Login</a></li><% end %>
        </ul>
      </div>
    </nav>
    <% end %>

    <%= yield %>

    <!-- Required JS Files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  </div>
  </body>

  <!--<footer class="page-footer" style="margin-top: 10rem;">-->
  <footer class="page-footer">
    <p class="text-info">© <small class="grey-text text-lighten-1">2018 ObiFenix</small></p>
    <p><img class="logo" src="/assets/codingdojo.png" /></p>
  </footer>
</html>
