<!DOCTYPE html>
<html>
<head>
  <title>RubyBelt</title>

    <!-- Required CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One|Metamorphous|Montserrat|Open+Sans|Poiret+One">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'main.js', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="">
    <!--
    [ Navbar - Login and Registration Component ]
    -->
    <nav class="dark" style="position:fixed; z-index:1000;">
      <div class="nav-wrapper">
        <% unless current_user %>
        <a href="/"><img src="/assets/codingdojo.png"</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if session["form"] == "login"%>
          <li><a href="/main/sw">Register</a></li><% else %>
          <li><a href="/main/sw">Login</a></li><% end %>
        </ul>
        <% end %>
      </div>
    </nav>

    <%= yield %>

    <!-- Required JS Files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  </body>
</html>
